/* section className="cards-list"
  div className="card"
  img src={props.item.coverImg} className="card--image"/>
  h1 className="card--title"> */


.container {
  background-color: #DCD5DC;
  color: whitesmoke;
  font-family: 'Ysabeau', sans-serif;
}

.header--container {
  height: 70px;
  background-color: #769ABE;
  color: whitesmoke;
  font-size: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

i {
  color: pink;
  padding: 10px;
  font-size: 50px;
}
.cardsList {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}
.card {
  flex: 0 0 calc(33.33% - 20px);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.card--image {
  width: 100%;
  height: 180px;
  border-radius: 6px;
}

/* .cardList {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  flex: 0 0 calc(33.33% - 20px);
  padding: 5px;
  flex-direction: column;
  position: relative;
  object-fit: cover;
}
.card {
  background-color: pink  ;
  display: flex;
  flex: 0 0 calc(33.33% - 20px);
  flex-direction: column;
  padding: 5px;
  width: 33%;
  display: flex;
  flex-direction: column;
  position: relative;
  object-fit: cover;
  flex-wrap: wrap;
}

.card::after {
  content: "";
  clear: both;
  display: table;
}
.card--image {
  width: 100%;
  height: 190px;
  border-radius: 9px;
  margin-bottom: 0px;
  object-fit: cover;
  border: 5px solid #769ABE;
} */